<h1>Overview</h1>


<div class="row">
    <div class="col-lg-3">
        {{stats.nbRoutes}} <a href="#/routes">Routes</a><br/>
        {{stats.nbServices}} <a href="#/services">Services</a><br/>
        {{stats.nbProcesses}} <a href="#/processes">Processes</a><br/>
        {{stats.nbComponents}} Components<br/>
    </div>
    <div class="col-lg-3">
        General violations:  <a href="#/violations">{{violations.nbGeneralViolations}}</a><br/>
        Component violations: <a href="#/violations">{{violations.nbComponentViolations}}</a><br/>
    </div>
</div>
<br/>

<div ng-repeat="cc in stats.componentCountsList | orderBy:'-nb' ">
    {{cc.name}}: {{cc.nb}}
</div>

<!--<div id="visualization"></div>-->

<h3>Components usage</h3>
<div>
<jqx-tree-map jqx-source="data" jqx-settings="treeMapSettings"></jqx-tree-map>
</div>

<br/><br/>
Last generation: {{stats.lastUpdate | date:'yyyy-MM-dd HH:mm:ss'}}

<script>
//google.load("visualization", "1", {packages: ["treemap"]});
//google.setOnLoadCallback(drawChart);
</script>

