<h1>Versions</h1>

Versions errors:<br/>
<div data-ng-bind-html="errors" style="border: 1px solid lightblue; padding: 7px;"></div>


Routes Versions minors:<br/>
<div data-ng-bind-html="minorsRoutes" style="border: 1px solid lightblue; padding: 7px;"></div>

Services Versions minors:<br/>
<div data-ng-bind-html="minorsServices" style="border: 1px solid lightblue; padding: 7px;"></div>

Processes Versions minors:<br/>
<div data-ng-bind-html="minorsProcesses" style="border: 1px solid lightblue; padding: 7px;"></div>