<h1>Workflows</h1>

<div class="row">
    <div class="col-lg-4">
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-search" style="top:0px"/>
            <input type="text" placeholder="Search..." class="form-control" ng-model="searchText"/>
        </div>
    </div>
    <div class="col-lg-6">
    </div>
</div>
<br/>


<div class='panel panel-default' ng-repeat="workflow in workflows | filter:searchText">
    <div class="panel-body">
        <big><b>{{workflow.name}} {{workflow.version}}</b></big>

        <p class="text-right">
            <small>Créé le {{workflow.creationDate | date:'dd-MM-yy'}} par {{workflow.authorFirstname}}
                {{workflow.authorLastname}}, Dernière modification le {{workflow.modificationDate | date:'dd-MM-yy'}}
            </small>
            <br/>
            <b>Services</b>
            <ul>
                <br/>
                <div ng-repeat="filename in workflow.services">
                    <li>{{filename}}</li>
                </div>
            </ul>
        </p>
    </div>
</div>